@import './Varibles.scss';
@import './global.scss';


.custom-card{
    padding: 1em 2em;
    border: transparent;
    box-shadow: $form-shadow;
    border-radius: 10px;
    width: 100%;
    background-color: white;    
}

.custom-btn{
    background-image: linear-gradient(to right, #00ff68 0%, #00e6e3 50%,#00ff68 100%);
    background-color: #00ff68;
}


.text-align-right{
    text-align: right;
}
