.form-container{
    display: flex;
    flex-flow: row nowrap;    
    width: 100%;
    min-height: 75.6vh;
    justify-content: center;
    align-items: center;
    @media (max-width:600px)  {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;    
    }
    .login-form{
        width: 50%;
        padding: 2em;
        @media (max-width:600px)  {
            width: 100%;
        }
    }
    .login-card{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:600px)  {
            display: none;
        }
    }
}